extends layout

block content
  .content-wrapper
  .filters-wrapper
    form(action="/rounds" method='GET')
      select(name="map" multiple)
        option(value='' disabled='' selected='') Map Filter
        option(value='Cache') Cache
        option(value='Cobblestone') Cobblestone
        option(value='Dust II') Dust II
        option(value='Inferno') Inferno
        option(value='Mirage') Mirage
        option(value='Nuke') Nuke
        option(value='Overpass') Overpass
        option(value='Train') Train
      select(name="result")
        option(value='' disabled='' selected='') Results Filter
        option(value='win') Win
        option(value='loss') Loss
        option(value='draw') Draw
      input#startDate.Filter(type="date" name="startDate" value="2016-10-07")
      input#endDate.Filter(type="date" name="endDate")
      input(type="submit" action="Submit")
  .table-wrapper
      table#statsTable
        //tr
          //th(colspan='3')
          //th(colspan='6') Wins
          //th(colspan='6') Losses
        tr
          th Date
          th Map
          th Score
          th Pistol Round
          th Eco
          th Anti-Eco
          th Semi-Eco
          th Force Buy
          th Normal
        each match, index in matches
          - var result = match.results;
          - var rounds = {'Pistol': 0, 'Eco': 0, 'Full': 0,  'Half': 0, 'Force': 0, 'Anti-eco': 0};
          - for(round in match.buys){rounds[match.buys[round]] += 1;}
          tr(class=result+'_row')
            td= match.formatted_date
            td= match.map
            td #{match.score[0]}-#{match.score[1]}
            td= rounds['Pistol']
            td= rounds['Eco']
            td= rounds['Anti-eco']
            td= rounds['Half']
            td= rounds['Force']
            td= rounds['Full']
